[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.31.0"
streamlit = "*"
pydantic = "*"
pandas = "*"
fastapi = "*"
uvicorn = "*"
joblib = "*"
pylint = "*"
coverage = "*"
numpy = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.8"


